body {
  background-image: url(https://cdn.pixabay.com/photo/2016/06/23/16/07/background-1475670_1280.jpg);
  font-family: "VT323", monospace;
}

#Top {
    display: flex;
}

.intro {
  float: left;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

#astroImg {
    float: right;
    min-height: 150px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle 
}

#astroPic {
  width: 606px;
  height: 700px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}


#container {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.3);
  width: 50%;
  height: 50px;
  font-weight: bold;
  margin: 5px;
}

#randNum {
  background-color: rgba(255, 255, 255, 0.3);
  width: 50%;
  margin: 3px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

#scoreboard {
  background-color: rgba(255, 255, 255, 0.3);
  width: 50%;
  margin: 3px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

#crystalContainer{
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 50%;
}

.blueCrystal {
  border: 1px solid green;
  height: 100px;
  width: 200px;
}

#bluegem {
  height: 100px;
}

.greenCrystal {
  border: 1px solid green;
  height: 100px;
  width: 200px;
}

#greengem {
  height: 100px;
}

.purpleCrystal {
  border: 1px solid green;
  height: 100px;
  width: 200px;
}

#purplegem {
  height: 100px;
}

.redCrystal {
  border: 1px solid green;
  height: 100px;
  width: 200px;
}

#redgem {
  height: 100px;
}


.userContainer {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  font-weight: bold;
}

#spaceBag {
  background-color: rgba(255, 255, 255, 0.3);
  float: ;
}
